---
---
#fact-container {

	opacity: 0;
	&.on {
		opacity: 1;
	}
	transition: opacity 1.6s;

	&.preon {
		animation: slowzoom 20s linear;
	}

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	text-align: center;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-justify-content: center;
	#fact-text {
		-webkit-flex: 0 0 auto;
		flex: 0 0 auto;
		max-width: 100vmin;
		color: yellow;
		font-size: 7vmin;
	}
}

@keyframes slowzoom {
	from {
		// zoom: 0.9;
		transform: scale(.9);
	}
	to {
		// zoom: 1.1;
		transform: scale(1.3);
	}
}
