---
---
@font-face {
    font-family: "Calibri Web";
    src: url("/fonts/calibri-bold.woff") format('woff');
    font-weight: bold;
}

body {
	background: black;
    font-family: 'Calibri Web', 'Calibri', sans-serif;
    font-weight: bold;
    overflow: hidden;
    margin: 0;
    padding: 0;
    cursor: none;
}

